.panel-delimeter{
    height: 160px;
    background-image: url(../images/panel2.png);
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 0px 0px;
    margin: -10px -10px -10px -10px;

}

.panel-delimeter h2{
    font-size: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    box-sizing: border-box;
    padding-top: 30px;
    color:#fff;
    margin-left: 120px;
    margin-top: 0px;
}

.blank-pad{
    height: 150px;
    margin-left: 300px;
}

.inline-statistics{
    display: inline-block;
}

.block-info{
    display: inline-block;
    width: 200px;

    margin-left: 100px;
}

.block-info h3{
    text-align: center;
    display: inline-block;
    font-size: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    color:#004;
    margin-left: 35%;
    margin-bottom: -10px;
}

.block-info h4{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    color:#004;
}