body{
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.panel-delimeter{
    height: 160px;
    background-image: url(../images/panel2.png);
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 0px 0px;
    margin: -10px -10px -10px -10px;
}

.panel-delimeter.sidebar-opened{
    background-image: none;
    background-color: #313147;
}

.panel-delimeter h2{
    font-size: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    box-sizing: border-box;
    padding-top: 10px;
    color:#fff;
    margin-left: 20px;
    outline: none;
    display: inline-block;
}

.sidebar {
    height: 660px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #313147;
    overflow-x: hidden;
    transition: all .3s;
    max-width: 414px;
    margin-top: 8px;
    padding-top: 20px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar.collapsed{
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar div {
    padding: 8px 8px 8px 41px;
    font-size: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    color: #fff;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: none;
    margin-left: 40px;
}

.light-up:hover{
    background: #404040;
    color: #ccf;
}

a.text{
    text-decoration: none;
}