body{
    background-image: url(../images/background_main_page.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.main_logo_title img{
    max-width: 20%;
    max-height: auto;
    margin-left: 0px;
}

.round{
    border-radius: 50%;
    max-width: 70px;
    max-height: auto;
}

.logo{
    width: 25%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 5px;
}

.logomargin{
    margin-left: 0px;
    margin-top: 10px;
    text-align: left;
}

#nav {
    text-align:center;
    width: 90%;
}

#nav li{
    display: inline-block;
}

#nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    padding: 7px 15px;
}

.light-up:hover{
    background: #404040;
    color: #ccf;
}

.main-text-page{
    margin-top: 84px;
    font-size: 320px;
}

.main-text-page h1{
    font-size: 72px;
    font-family: 'Open Sans';
    font-style: normal;
    color: #fff;
    margin-left: 120px;
    line-height: 1.5;
}

.arrow{
    height: 70px;
    width: auto;
}

#object-position-1{
    margin-top:200px;
}
