body {
  background-image: url("../images/background_main_page.jpg");
  background-size: 100% 760px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

footer {
  background-image: url("../images/panel3.png");
  height: 100px;
  width: 120%;
  margin-top: 5%;
  margin-left: -10%;
  margin-bottom: -10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.main-logo-title img {
  max-width: 20%;
  max-height: auto;
}

.round {
  border-radius: 50%;
  max-width: 70px;
  max-height: auto;
}

.logo {
  width: 25%;
  height: auto;
  margin-bottom: 5px;
}

.logomargin {
  margin-top: 31px;
  text-align: left;
}

#nav {
  text-align: center;
  width: 100%;
}

#nav li {
  display: inline-block;
}

#nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", arial, sans-serif;
  font-style: normal;
  padding: 10px 20px;
  margin-left: -29px;
  margin-top: -35px;
}

.light-up:hover {
  background: #404040;
  color: #ccf;
}

.main-text-page {
  margin-top: 84px;
  font-size: 320px;
}

.main-text-page h1 {
  font-size: 72px;
  font-family: "Open Sans", arial, sans-serif;
  font-style: normal;
  color: #fff;
  margin-left: 120px;
  line-height: 1.5;
}

.arrow {
  height: 70px;
  width: auto;
}

.panel-delimeter {
  height: 160px;
  background-image: url("../images/panel2.png");
  background-size: 100%;
  background-position: center;
  margin: 330px -10px -10px;
}

.panel-delimeter h2 {
  font-size: 64px;
  font-family: "Open Sans", arial, sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding-top: 30px;
  color: #fff;
  margin-left: 120px;
}

table th {
   text-align: center;
}

.table {
   margin: auto;
   width: 80% !important;
}

.table-label-header {
    margin-top: 3%;
    text-align: center;
    display: inline-block;
    width: 360px;
    height: 50px;
    font-size: 24px;
    font-family: "Open Sans", arial, sans-serif;
    font-style: normal;
    color: #004;
}

.table-label-image {
    margin-top: 13%;
}

.table-label-numbers {
    margin-top: 40%;
    margin-bottom: -10%;
    text-align: center;
    display: inline-block;
    font-size: 72px;
    font-family: "Open Sans", arial, sans-serif;
    font-style: normal;
    color: #004;
}

#scroll-to-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
}

#object-position-1 {
  margin-top: -11.5%;
}

#object-position-2 {
  margin-top: -11%;
}

.tab-label-height {
    height: 60px;
}
