<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_info.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="panel-delimeter">
        <h2>
            Innopolis University
        </h2>
    </div>

    <div class="inline-statistics">
        <div class="blank-pad"></div>
        <div class="block-info">
            <h3>
                {{ amount_of_publications }}
            </h3>
            <h4>
                Amount of publications
            </h4>
        </div>
        <div class="block-info">
            <h3>
                {{ number_of_researches }}
            </h3>
            <h4>
                Number of researches
            </h4>
        </div>
        <div></div>
        <div class="block-info1">
            <h3>
                {{ pubications_per_person }}
            </h3>
            <h4>
                Publications per person
            </h4>
        </div>
        <div class="block-info1">
            <h3>
                {{ citations_per_person }}
            </h3>
            <h4>
                Citations per person
            </h4>
        </div>
    </div>
</body>
</html>