<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_page.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <title>Publications</title>
</head>
<body>
<div class="panel-delimeter">
    <button class="openbtn"
            onclick="toggleSidebar()" style="margin-top: 50px;">
        <img src="{{ url_for('static', filename='images/menu.png') }}"
             alt="Icon not found" style="filter: invert(100%); width:50px; height:50px;">
    </button>
    <h2 style="margin-top: -100px;">
        Author publications
    </h2>
</div>

<div id="mySidebar" class="sidebar collapsed" style="font-family:'Open Sans'; text-decoration: none;">
    <div>
        <a href="/" class="light-up">
            Main menu
        </a>
    </div>
    <div>
        <a href="/search" class="light-up">
            Authors
        </a>
    </div>
    <div>
        <a href="/publications" class="light-up">
            Publications
        </a>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/author_id={{id}}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/co-author={{id}}">Co-authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"  href="/author_publications={{id}}">Publications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Secret info</a>
    </li>
</ul>
<div style="margin-top: 10px; margin-left: 100px; margin-bottom: -50Fpx;">
    <h1 style="font-size: 60px; font-family:'Open Sans';">Manuel Mazzara</h1>
</div>
<div class="container-md">
    <div class="d-flex">
        <button type="button" class="button-sort" data-bs-toggle="modal" data-bs-target="#parameters"
                style="color:#fff; margin-top: 5%;">
            Show parameters
        </button>
        <button type="button" class="button-sort" data-bs-toggle="modal" data-bs-target="#sortByModal"
                style="color:#fff; margin-top: 5%;">
            Sort by
        </button>
        <button class="button-sort" style="color:#fff; margin-top: 5%;">
            Download statistics
        </button>
    </div>
</div>
<div class="modal fade" id="parameters" tabindex="-1" aria-labelledby="parametersLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="parametersLabel">What parameters to show?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_source" name="show_source"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="show_source">Source
                        type</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_date" name="show_date"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="show_date">Publication
                        date</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_affiliation"
                           name="show_affiliation"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="show_affiliation">Affiliation</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_quartile"
                           name="show_quartile"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="show_quartile">Quartile</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_citations"
                           name="show_citations"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="show_citations">Citations
                        count</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_doi" name="show_doi"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="show_doi">DOI</label>
                </div>

                <div class="form-check form-switch" style="margin-left: 36px;">
                    <input class="form-check-input" type="checkbox" role="switch" id="show_areas" name="show_areas"
                           disabled>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="show_areas">Subject
                        Areas</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">
                    <a href="/author_publications={{id}}" style="text-decoration: none; color: #fff">
                        Apply
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortByModal" tabindex="-1" aria-labelledby="sortByModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sortByModalLabel">Sort by</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_source" value="sortOption1"
                           name="radioSortBy"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="sort_by_source">Source
                        type</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_date" value="sortOption2"
                           name="radioSortBy"
                           checked>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="sort_by_date">Publication
                        date</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_affiliation" value="sortOption3"
                           name="radioSortBy">
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="sort_by_affiliation">Affiliation</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_quartile" value="sortOption4"
                           name="radioSortBy">
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="sort_by_quartile">Quartile</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_citations" value="sortOption5"
                           name="radioSortBy">
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="sort_by_citations">Citations count</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_doi" value="sortOption6"
                           name="radioSortBy">
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                           for="sort_by_doi">DOI</label>
                </div>

                <div class="form-check" style="margin-left: 36px;">
                    <input class="form-check-input" type="radio" id="sort_by_areas" value="sortOption7"
                           name="radioSortBy"
                           disabled>
                    <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;" for="sort_by_areas">Subject
                        Areas</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <a href="/author_publications={{id}}" style="text-decoration: none; color: #fff">
                        Sort
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container author-catalogue">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Authors</th>
            <th scope="col">Year</th>
            <th scope="col">Source</th>
            <th scope="col">Quartile</th>
            <th scope="col">DOI</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nothing to show yet!</th>
            <td>Bibliogram team</td>
            <td>2022</td>
            <td>Soon here will be content!</td>
            <td>Q1</td>
            <td>-//-</td>
        </tr>
        <tr>
            <th scope="row">Nothing to show yet!</th>
            <td>Bibliogram team</td>
            <td>2022</td>
            <td>Soon here will be content!</td>
            <td>Q1</td>
            <td>-//-</td>
        </tr>
        <tr>
            <th scope="row">Nothing to show yet!</th>
            <td>Bibliogram team</td>
            <td>2022</td>
            <td>Soon here will be content!</td>
            <td>Q1</td>
            <td>-//-</td>
        </tr>
        <tr>
            <th scope="row">Nothing to show yet!</th>
            <td>Bibliogram team</td>
            <td>2022</td>
            <td>Soon here will be content!</td>
            <td>Q1</td>
            <td>-//-</td>
        </tr>
        <tr>
            <th scope="row">Nothing to show yet!</th>
            <td>Bibliogram team</td>
            <td>2022</td>
            <td>Soon here will be content!</td>
            <td>Q1</td>
            <td>-//-</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
        function toggleSidebar() {
            document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed');
            document.getElementsByClassName('panel-delimeter')[0].classList.toggle('sidebar-opened');
        }

</script>

</body>
</html>