<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <ul id="nav">
        <li><a class="active" href="/">
                <div class="logomargin">
                    <img src="{{ main_logo }}" alt="Logo not found" class="round logo">
                    <img src="{{ main_title }}" alt="Title not found" class="logo">
                </div>
            </a>
        </li>
        <li>
            <a href="/" class="light-up">Publications</a>
        </li>
        <li>
            <a href="/search" class="light-up">Authors</a>
        </li>
        <li>
            <a href="/aboutIU" class="light-up">About IU</a>
        </li>
    </ul>

    <div class="main-text">
        <h1>
            Research in the field
            of IT and Robotics
        </h1>
    </div>

</body>
</html>
