<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topnav.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<ul id="nav">
    <li><a class="active" href="/">
        <div class="logomargin">
            <img src="{{ main_logo }}" alt="Logo not found" class="round logo">
            <img src="{{ main_title }}" alt="Title not found" class="logo">
        </div>
    </a>
    </li>
    <li>
        <a href="/general" class="light-up">Publications</a>
    </li>
    <li>
        <a href="/search" class="light-up">Authors</a>
    </li>
    <li>
        <a href="#bottom-block" class="light-up">About IU</a>
    </li>
    <li><a href="/refresh" class="light-up">Refresh</a></li>
</ul>

<div class="main-text-page">
    <h1>
        Research in the field<br>
        of IT and Robotics
    </h1>
</div>

<div class="panel-delimeter">
    <h2>
        What to see here?
    </h2>
</div>

<div class="container-xl row justify-content-center">
    <table class="table table-bordered features-table" summary="Features of the site">
        <tbody>
        <tr>
            <th style="width: 50%; height: 70px;" id="num1">
                <img src="{{ number1 }}" alt="Logo not found" class="round logo table-label-image"
                     style="width: 300px; height: 70px;">
            </th>
            <th></th>
        </tr>
        <tr>
            <th style="width: 50%;" class="tab-label-height" id="label1">
                <h4 class="table-label-header">
                    Monitor the progress of the IU in the research activities
                </h4>
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 50%; height: 70px;" id="num2">
                <img src="{{ number2 }}" alt="Logo not found" class="round logo table-label-image"
                     style="width: 300px; height: 70px;">
            </th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 50%;" class="tab-label-height" id="label2">
                <h4 class="table-label-header">
                    Explore the statistics of the Innopolis University
                </h4>
            </th>
        </tr>
        <tr>
            <th style="width: 50%; height: 70px;" id="num3">
                <img src="{{ number3 }}" alt="Logo not found" class="round logo table-label-image"
                     style="width: 300px; height: 70px;">
            </th>
            <th></th>
        </tr>
        <tr>
            <th style="width: 50%;" class="tab-label-height" id="label3">
                <h4 class="table-label-header">
                    Explore the statistics of a particular researcher
                </h4>
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 50%; height: 70px;" id="num4">
                <img src="{{ number4 }}" alt="Logo not found" class="round logo table-label-image"
                     style="width: 300px; height: auto;">
            </th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 50%;" class="tab-label-height" id="label4">
                <h4 class="table-label-header">
                    Explore the information about publications
                </h4>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<div class="arrow" id="scroll-to-top" style="display:none;">
    <img id="object-position-1" src="{{arrowUp}}" alt="Logo not found" class="square arrow"
                     align="right">
</div>

<div class="panel-delimeter" style="margin-top: 0px;" id="bottom-block">
    <h2>
        Innopolis University
    </h2>
</div>

<div class="container-xl row justify-content-center">
    <table class="table table-bordered features-table" summary="Statistics of the University" style="margin-top: 40px;">
        <tbody>
        <tr>
            <th style="width: 35%" id="num6564">
                <div style="display: inline-block;">
                    <img src="/static/images/wordcloud.png" alt="Missing" width="350px" height="auto"
                         style="border: 5px solid #004; margin-bottom: -100px;">
                    <h2 class="table-label-numbers" style="color: #004; font-family: 'Open Sans', arial, sans-serif; font-size: 24px; margin-top: 120px;">Research fields</h2>
                </div>
            </th>
            <th style="width: 35%" id="num34255">
                <div style="display: inline-block;">
                    <img src="/static/images/graphic.png" alt="Missing" width="600px" height="383px"
                         style="border: 5px solid #004; margin-bottom: -100px;">
                    <h2 class="table-label-numbers" style="color: #004; font-family: 'Open Sans', arial, sans-serif; font-size: 24px; margin-top: 120px;">Citations by year</h2>
                </div>
            </th>
        </tr>
        <!--        <tr>-->
        <!--            <th style="width: 30%; padding-top:-10px;" class=tab-label-height id="label5123">-->
        <!--                <h4 class="table-label-header">-->
        <!--                    Research areas-->
        <!--                </h4>-->
        <!--            </th>-->
        <!--            <th style="width: 30%;  padding-top:-10px;" class=tab-label-height id="label6423">-->
        <!--                <h4 class="table-label-header">-->
        <!--                    Number of researchers-->
        <!--                </h4>-->
        <!--            </th>-->
        <!--        </tr>-->
        </tbody>
    </table>
</div>

<div class="container-xl row justify-content-center">
    <table class="table table-bordered features-table" summary="Statistics of the University">
        <tbody>
        <tr>
            <th style="width: 25%;" id="num5">
                <h2 class="table-label-numbers">
                    {{ amount_of_publications }}
                </h2>
                <h4 class="table-label-header">
                    Amount of publications
                </h4>
            </th>
            <th style="width: 25%;" id="num6">
                <h2 class="table-label-numbers">
                    {{ number_of_researches }}
                </h2>
                <h4 class="table-label-header">
                    Number of researchers
                </h4>
            </th>
            <th style="width: 25%;" id="num7">
                <h2 class="table-label-numbers">
                    {{ publications_per_person }}
                </h2>
                <h4 class="table-label-header">
                    Publications per person
                </h4>
            </th>
            <th style="width: 25%;" id="num8">
                <h2 class="table-label-numbers">
                    {{ citations_per_person }}
                </h2>
                <h4 class="table-label-header">
                    Citations per person
                </h4>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<script type="text/javascript">
          $(function() {
              $(window).scroll(function() {
                  if($(this).scrollTop() != 0) {
                    $('#scroll-to-top').fadeIn();
                  } else {
                    $('#scroll-to-top').fadeOut();
                  }
              });
              $('#scroll-to-top').click(function() {
                  $('body,html').animate({scrollTop:0},700);
              });
          });
</script>
</body>
<footer>
    <h5></h5>
</footer>
</html>
