<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/co-author.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Publications</title>
</head>
<body>
    <div class="panel-delimeter">
    <ul id="nav">

        <li><a class="active" href="/">
            <div class="logomargin">

                <img src="{{ main_logo }}" alt="Logo not found" class="round logo">
                <img src="{{ main_title }}" alt="Title not found" class="logo">

            </div>
        </a>
        </li>
        <li>

            <a href="/publications/page=1" class="light-up">Publications</a>

        </li>
        <li>

            <a href="/search" class="light-up">Authors</a>

        </li>
        <li>

            <a href="/#bottom-block" class="light-up">About IU</a>

        </li>
        <li><a href="/refresh" class="light-up">Refresh</a></li>
    </ul>

</div>
    <ul class="nav nav-tabs" style="background-color: #050911">
        <li class="nav-item">
            <a class="nav-link" href="/author_id={{id}}" style="color: #fff">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/co-author={{id}}" style="color: #050911">Co-authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author_publications={{id}}" style="color: #fff">Publications</a>
        </li>
    </ul>
<div style="margin-top: 10px; margin-left: 120px;">
    <h1 style="font-size: 50px; font-family:'Open Sans', arial, sans-serif;">Co-authors of {{ author_name }}</h1>
</div>
    <div class="container author-catalogue">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Quantity of common publications</th>
                <th scope="col">Affiliation</th>
            </tr>
            </thead>
            <tbody>
                {% for id in co_authors %}
                    <tr>
                        <th scope="row">{{ co_authors_data[id]["name"] }}</th>
                        <td>{{ co_authors_data[id]["common_papers"] }}</td>
                        <td>{{ co_authors_data[id]["affiliation"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-md">
        <div class="d-flex">
            <button class="button-sort" style="color:#fff; margin-top: 5%; margin-left:75%;">
                Download statistics
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
        function toggleSidebar() {
            document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed');
            document.getElementsByClassName('panel-delimeter')[0].classList.toggle('sidebar-opened');
        }
    </script>

</body>
</html>