<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/features_info.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
</head>

<body>
<div class="panel-delimeter">
    <h2>
        What to see here?
    </h2>
</div>

<div class="inline-statistics">
    <div class="blank-pad"></div>
    <div class="block-info">
        <h3>
            <img src="{{ number1 }}" alt="Logo not found" class="round logo">
        </h3>
        <h4>
            Monitor the progress of the IU in the research activities
        </h4>
    </div>
    <div class="block-info">
        <h3>
            <img src="{{ number2 }}" alt="Logo not found" class="round logo">
        </h3>
        <h4>
            Explore the statistics of the Innopolis University
        </h4>
    </div>
    <div></div>
    <div class="block-info1">
        <h3>
            <img src="{{ number3 }}" alt="Logo not found" class="round logo">
        </h3>
        <h4>
            Explore the statistics of a particular researcher
        </h4>
    </div>
    <div class="block-info1">
        <h3>
            <img src="{{ number4 }}" alt="Logo not found" class="round logo">
        </h3>
        <h4>
            Explore the information about publications
        </h4>
    </div>
</div>
<div class="arrow">
    <a href="/"><img id="object-position-1" src="{{arrowUp}}" alt="Logo not found" class="square arrow"
                             align="right"></a>
</div>
<div class="arrow">
    <a href="/aboutIU"><img id="object-position-2" src="{{arrowDown}}" alt="Logo not found" class="square arrow"
                             align="right"></a>
</div>
</body>
</html>