<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Publications</title>
</head>
<body>
<div class="panel-delimeter">
    <ul id="nav">

        <li><a class="active" href="/">
            <div class="logomargin">

                <img src="{{ main_logo }}" alt="Logo not found" class="round logo">
                <img src="{{ main_title }}" alt="Title not found" class="logo">

            </div>
        </a>
        </li>
        <li>

            <a href="/general" class="light-up">Publications</a>

        </li>
        <li>

            <a href="/search" class="light-up">Authors</a>

        </li>
        <li>

            <a href="/#bottom-block" class="light-up">About IU</a>

        </li>
        <li><a href="/refresh" class="light-up">Refresh</a></li>
    </ul>

</div>
<ul class="nav nav-tabs" style="background-color: #050911">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/general" style="color: #050911">General statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/publications/page=1" style="color: #fff">All publications</a>
    </li>
</ul>
<h1 style="margin-top: 2.5%; font-size: 50px; margin-left: 120px; margin-bottom: 3%; ">
    General statistics about publications
</h1>
<div class="container author-catalogue">
    <table class="table table-bordered">
        <caption></caption>
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Source</th>
            <th scope="col">Link</th>
            <th scope="col">Title</th>
            <th scope="col">Something</th>
            <th scope="col">Data</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">27.06.2022</th>
            <td><a href="https://www.google.com">Link64</a></td>
            <td><a href="https://www.google.com">Link67</a></td>
            <td><a href="https://www.google.com">Link234</a></td>
            <td><a href="https://www.google.com">Link2365</a></td>
            <td><a href="https://www.google.com">Link546</a></td>
            <td><a href="https://www.google.com">Link345</a></td>
        </tr>
        <tr>
            <th scope="row">23.06.2022</th>
            <td>Link1</td>
            <td>Link2</td>
            <td>Link3</td>
            <td>Link4</td>
            <td>Link5</td>
            <td>Link6</td>
        </tr>
        <tr>
            <th scope="row">12.06.2022</th>
            <td>Link7</td>
            <td>Link8</td>
            <td>Link9</td>
            <td>Link10</td>
            <td>Link11</td>
            <td>Link12</td>
        </tr>
        <tr>
            <th scope="row">07.06.2022</th>
            <td>Link13</td>
            <td>Link14</td>
            <td>Link15</td>
            <td>Link16</td>
            <td>Link17</td>
            <td>Link18</td>
        </tr>
        <tr>
            <th scope="row">29.05.2022</th>
            <td>Link19</td>
            <td>Link20</td>
            <td>Link21</td>
            <td>Link22</td>
            <td>Link23</td>
            <td>Link24</td>
        </tr>
        </tbody>
    </table>
</div>



    <form method="post">
        <div class="container-md">
            <div class="d-flex">
                <button type="button" class="button-sort" data-bs-toggle="modal" data-bs-target="#file-download"
                        style="color:#fff; margin-top: 5%; margin-left:75%;">
                    Download statistics
                </button>
            </div>
        </div>
    </form>

    <form method="post">
    <div class="modal fade" id="file-download" tabindex="-1" aria-labelledby="download-file-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="download-file-label">File type to download</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-check" style="margin-left: 36px;">
                        <input class="form-check-input" type="radio" id="download-csv" value="csv" name="download">
                        <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                               for="download-csv">CSV</label>
                    </div>
                    <div class="form-check" style="margin-left: 36px;">
                        <input class="form-check-input" type="radio" id="download-tsv" value="tsv" name="download"
                               checked>
                        <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                               for="download-tsv">TSV</label>
                    </div>
                    <div class="form-check" style="margin-left: 36px;">
                        <input class="form-check-input" type="radio" id="download-json" value="json" name="download">
                        <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                               for="download-json">JSON</label>
                    </div>
                    <div class="form-check" style="margin-left: 36px;">
                        <input class="form-check-input" type="radio" id="download-xlsx" value="xlsx" name="download"
                               checked>
                        <label class="form-check-label" style="margin-left: 8px; margin-bottom: 2px;"
                               for="download-xlsx">XLSX</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button name="downloading" type="submit" class="btn btn-primary"
                            style="text-decoration: none; color: #fff">
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script>
        function toggleSidebar() {
            document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed');
            document.getElementsByClassName('panel-delimeter')[0].classList.toggle('sidebar-opened');
        }




</script>

</body>
</html>