<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
           initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_page.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
    <div class="panel-delimeter">
        <button class="openbtn"
                    onclick="toggleSidebar()">
                <img src="{{ url_for('static', filename='images/menu.png') }}"
                    alt="Icon not found" style="filter: invert(100%); width:80px; height:80px;">
        </button>
        <h2 style="margin-top: 20px;">
            Find author
        </h2>
    </div>

    <div id="mySidebar" class="sidebar collapsed">
        <!--    <div class="closebtn"-->
        <!--         onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed')">×</div>-->
        <div>
            <a href="/" class="light-up">
                Main menu
            </a>
        </div>
        <div>
            <a href="/search" class="light-up">
                Authors
            </a>
        </div>
        <div>
            <a href="/publications" class="light-up">
                Publications
            </a>
        </div>
    </div>

    <div class="container-md">
        <form class="d-flex search-bar" role="search">
            <input class="form-control me-2" type="text"
                   placeholder="Enter the name of the researcher" aria-label="Search">
        </form>
        <button class="find-button">
            Find Mazzara!
        </button>
    </div>

    <div class="title-results">
        <b>Search results</b>
    </div>

    <div class="container author-catalogue">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row" class="avatar-column">
                    <img src="{{ photos[0] }}" alt="Mazzara not found" class="round-photo margined-photo">
                </th>
                <td>
                    <div class="cluster-author">
                        <h2>
                            <b>Manuel Mazzara</b>
                        </h2>
                        Institute of Software Development and Engineering
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="avatar-column">
                    <img src="{{ photos[0] }}" alt="Mazzara not found" class="round-photo margined-photo">
                </th>
                <td>
                    <div class="cluster-author">
                        <h2>
                            <b>Manuel Mazzara</b>
                        </h2>
                        Institute of Software Development and Engineering
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="avatar-column">
                    <img src="{{ photos[0] }}" alt="Mazzara not found" class="round-photo margined-photo">
                </th>
                <td>
                    <div class="cluster-author">
                        <h2>
                            <b>Manuel Mazzara</b>
                        </h2>
                        Institute of Software Development and Engineering
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        function toggleSidebar() {
            document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed');
            document.getElementsByClassName('panel-delimeter')[0].classList.toggle('sidebar-opened');
        }
    </script>
</body>
</html>